# Introduction to Pandas

In [1]:
import pandas as pd

In [2]:
#2 main datatypes: Series & DataFrame
#Series = 1-D
#DF.    = 2-D

series = pd.Series(["BMW", "Toyota", "Honda"])
colours = pd.Series(["Red", "Blue", "White"])

In [3]:
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White