In [1]:
import pandas as pd

In [14]:
df = pd.DataFrame(
    {
        "Thời gian": ["07h00 - 07h30",
                     "07h30 - 08h00",
                     "08h00 - 08h30",
                     "08h30 - 09h00"],
        "Monday":["Tập đọc",
                  "Toán",
                 "Chính tả",
                 "Địa lý"]
    }
        
)
df

       Thời gian    Monday
0  07h00 - 07h30   Tập đọc
1  07h30 - 08h00      Toán
2  08h00 - 08h30  Chính tả
3  08h30 - 09h00    Địa lý

In [13]:
s = pd.Series(["Tập đọc","Toán","Chính tả","Địa lý"],name="Monday")

In [11]:
s

0     Tập đọc
1        Toán
2    Chính tả
3      Địa lý
Name: Monday, dtype: object